<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h1>Add Product</h1>
        <form action="/admin/addProd" method="post">
            <div class="form-group">

                <label for="title" class="mb-4">title:</label>
                <input required type="title" name="title" class="form-control">
            </div>
            <hr>
            <div class="form-group">

                <label for="category" class="mb-4">category:</label>
                <select name="category" id="select-categ" class="form-select form-select-padding-y-lg" aria-label="Default select example">
                    <% categories.forEach(categ => { %>
                        <option value="<%= categ.id %>"><%= categ.title %></option>
                        
                    <%  }) %>
                </select>
            </div>
            <hr>
            <div class="form-group">

                <label for="price" class="mb-4">price:</label>
                <input style="width: 200px;" type="number" required type="price" name="price" class="form-control">
            </div>
            <hr>
            <div class="form-group">

                <label for="description" class="mb-4">description:</label>
                <textarea  name="description" class="form-control" ></textarea>
            </div>
        </form>
    </div>
</body>
</html>